
# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# ignore build folder
build

# do not commit frontend folder content
frontend

# ignore Artifacts files
.DS_Store
npm-debug.log
package-lock.json
.cache